/* Common styles */
html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-selection,
::-moz-selection,
::selection {
  background-color: black;
  color: white;
  text-shadow: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Fonts */
@font-face {
  font-family: 'Font';
  src: url("../fonts/font.eot");
  src: url("../fonts/font.eot?iefix") format("embedded-opentype"), url("../fonts/font.woff") format("woff"), url("../fonts/font.ttf") format("truetype"), url("../fonts/font.svg#Font") format("svg");
}

/* Custom styles */
body {
  font-family: 'Font';
  font-size: 16px;
  font-size: 1.6rem;
}
