/* Grid */
#container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
#container .grids {
  overflow: hidden;
  margin-left: -20px;
  letter-spacing: -0.25em;
  list-style: none;
}
#container .grids [class*='grid-'] {
  display: inline-block;
  margin: 0 0 20px 20px;
  letter-spacing: 0;
  vertical-align: top;
}
#container .grids .grid-1 {
  width: 60px;
}
#container .grids .grid-2 {
  width: 140px;
}
#container .grids .grid-3 {
  width: 220px;
}
#container .grids .grid-4,
#container .grids .grid-one-third {
  width: 300px;
}
#container .grids .grid-5 {
  width: 380px;
}
#container .grids .grid-6,
#container .grids .grid-half {
  width: 460px;
}
#container .grids .grid-7 {
  width: 540px;
}
#container .grids .grid-8,
#container .grids .grid-two-third {
  width: 620px;
}
#container .grids .grid-9 {
  width: 700px;
}
#container .grids .grid-10 {
  width: 780px;
}
#container .grids .grid-11 {
  width: 860px;
}
#container .grids .grid-12,
#container .grids .grid-full {
  width: 940px;
}
#container .grids .offset-1 {
  margin-left: 100px;
}
#container .grids .offset-2 {
  margin-left: 180px;
}
#container .grids .offset-3 {
  margin-left: 260px;
}
#container .grids .offset-4 {
  margin-left: 340px;
}
#container .grids .offset-5 {
  margin-left: 420px;
}
#container .grids .offset-6,
#container .grids .offset-half {
  margin-left: 500px;
}
#container .grids .offset-7 {
  margin-left: 580px;
}
#container .grids .offset-8 {
  margin-left: 660px;
}
#container .grids .offset-9 {
  margin-left: 740px;
}
#container .grids .offset-10 {
  margin-left: 820px;
}
#container .grids .offset-11 {
  margin-left: 900px;
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #container {
    width: 720px;
  }
  #container .grids .grid-1 {
    width: 40px;
  }
  #container .grids .grid-2 {
    width: 100px;
  }
  #container .grids .grid-3 {
    width: 160px;
  }
  #container .grids .grid-4,
  #container .grids .grid-one-third {
    width: 220px;
  }
  #container .grids .grid-5 {
    width: 280px;
  }
  #container .grids .grid-6,
  #container .grids .grid-half {
    width: 340px;
  }
  #container .grids .grid-7 {
    width: 400px;
  }
  #container .grids .grid-8,
  #container .grids .grid-two-third {
    width: 460px;
  }
  #container .grids .grid-9 {
    width: 520px;
  }
  #container .grids .grid-10 {
    width: 580px;
  }
  #container .grids .grid-11 {
    width: 640px;
  }
  #container .grids .grid-12,
  #container .grids .grid-full {
    width: 700px;
  }
  #container .grids .offset-1 {
    margin-left: 80px;
  }
  #container .grids .offset-2 {
    margin-left: 140px;
  }
  #container .grids .offset-3 {
    margin-left: 200px;
  }
  #container .grids .offset-4,
  #container .grids .offset-one-third {
    margin-left: 260px;
  }
  #container .grids .offset-5 {
    margin-left: 320px;
  }
  #container .grids .offset-6,
  #container .grids .offset-half {
    margin-left: 380px;
  }
  #container .grids .offset-7 {
    margin-left: 440px;
  }
  #container .grids .offset-8,
  #container .grids .offset-two-third {
    margin-left: 500px;
  }
  #container .grids .offset-9 {
    margin-left: 560px;
  }
  #container .grids .offset-10 {
    margin-left: 620px;
  }
  #container .grids .offset-11 {
    margin-left: 680px;
  }
}
/* Smartphones */
@media only screen and (max-width: 767px) {
  #container {
    width: 95%;
  }
  #container .grids {
    margin-left: 0;
  }
  #container .grids [class*='grid-'] {
    display: block;
    width: auto;
    margin: 0 0 20px 0;
  }
  #container .grids [class*='offset-'] {
    margin-left: 0;
  }
}
