//	1. Positioning
//		- position
//		- z-index
//		- top, bottom
//		- left, right
//
//	2. Display & Box Model
//		- display
//		- overflow
//		- box-sizing
//		- width
//		- height
//		- padding
//		- border
//		- margin
//
//	3. Color
//		- background
//		- color
//
//	4. Text
//		- font-family
//		- font-size
//		- line-height
//		- text-align
//
//	5. Other

// Imports
@import 'compass';
@import 'common';

// Colors
$black: #000;
$white: #fff;

/* Fonts */
@font-face {
	font-family: 'Font';
	src: url('../fonts/font.eot');
	src: url('../fonts/font.eot?iefix') format('embedded-opentype'),
		 url('../fonts/font.woff') format('woff'),
		 url('../fonts/font.ttf') format('truetype'),
		 url('../fonts/font.svg#Font') format('svg');
}

/* Custom styles */
body {
	font-family: 'Font';
	@include font-size(16);

	header {

	}

	div[role='main'] {

	}

	footer {

	}
}