/* Common styles */

// Imports
@import 'compass';

// Variables
$vendors: ('webkit', 'moz', 'ms', 'o');

// Mixins
// Font size
@mixin font-size($value) {
	font-size: $value + px;
	font-size: ($value / 10) + rem;
}

// Letter spacing
@mixin letter-spacing($value) {
	letter-spacing: $value + px;
	letter-spacing: ($value / 10) + rem;
}

// Keyframes
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

// Margin
@mixin margin($value) {
	margin: $value + px;
	margin: ($value / 10) + rem;
}

@mixin margin2($valueHorizontal, $valueVertical) {
	margin: $valueHorizontal + px $valueVertical + px;
	margin: ($valueHorizontal / 10) + rem ($valueVertical / 10) + rem;
}

@mixin margin3($valueTop, $valueVertical, $valueBottom) {
	margin: $valueTop + px $valueVertical + px $valueBottom + px;
	margin: ($valueTop / 10) + rem ($valueVertical / 10) + rem ($valueBottom / 10) + rem;
}

@mixin margin4($valueTop, $valueRight, $valueBottom, $valueLeft) {
	margin: $valueTop + px $valueRight + px $valueBottom + px $valueLeft + px;
	margin: ($valueTop / 10) + rem ($valueRight / 10) + rem ($valueBottom / 10) + rem ($valueLeft / 10) + rem;
}

@mixin marginTop($value) {
	margin-top: $value + px;
	margin-top: ($value / 10) + rem;
}

@mixin marginBottom($value) {
	margin-bottom: $value + px;
	margin-bottom: ($value / 10) + rem;
}

@mixin marginLeft($value) {
	margin-left: $value + px;
	margin-left: ($value / 10) + rem;
}

@mixin marginRight($value) {
	margin-right: $value + px;
	margin-right: ($value / 10) + rem;
}

// Padding
@mixin padding($value) {
	padding: $value + px;
	padding: ($value / 10) + rem;
}

@mixin padding2($valueHorizontal, $valueVertical) {
	padding: $valueHorizontal + px $valueVertical + px;
	padding: ($valueHorizontal / 10) + rem ($valueVertical / 10) + rem;
}

@mixin padding3($valueTop, $valueVertical, $valueBottom) {
	padding: $valueTop + px $valueVertical + px $valueBottom + px;
	padding: ($valueTop / 10) + rem ($valueVertical / 10) + rem ($valueBottom / 10) + rem;
}

@mixin padding4($valueTop, $valueRight, $valueBottom, $valueLeft) {
	padding: $valueTop + px $valueRight + px $valueBottom + px $valueLeft + px;
	padding: ($valueTop / 10) + rem ($valueRight / 10) + rem ($valueBottom / 10) + rem ($valueLeft / 10) + rem;
}

@mixin paddingTop($value) {
	padding-top: $value + px;
	padding-top: ($value / 10) + rem;
}

@mixin paddingBottom($value) {
	padding-bottom: $value + px;
	padding-bottom: ($value / 10) + rem;
}

@mixin paddingLeft($value) {
	padding-left: $value + px;
	padding-left: ($value / 10) + rem;
}

@mixin paddingRight($value) {
	padding-right: $value + px;
	padding-right: ($value / 10) + rem;
}

// Vendor prefixes
@mixin vendorize($property, $value) {
	@each $vendor in $vendors {
		-#{$vendor}-#{$property}: #{$value};
	}
	#{$property}: #{$value};
}

// Colors
$black: #000;
$white: #fff;

html {
	font-size: 62.5%;
}

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

::-webkit-selection,
::-moz-selection,
::selection {
	background-color: $black;
	color: $white;
	text-shadow: none;
}

.clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}