/* Grid */

#container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;

	.grids {
		overflow: hidden;
		margin-left: -20px;

		letter-spacing: -0.25em;
		list-style: none;

		[class*='grid-'] {
			display: inline-block;
			margin: 0 0 20px 20px;

			letter-spacing: 0;
			vertical-align: top;
		}

		.grid-1 {
			width: 60px;
		}

		.grid-2 {
			width: 140px;
		}

		.grid-3 {
			width: 220px;
		}

		.grid-4,
		.grid-one-third {
			width: 300px;
		}

		.grid-5 {
			width: 380px;
		}

		.grid-6,
		.grid-half {
			width: 460px;
		}

		.grid-7 {
			width: 540px;
		}

		.grid-8,
		.grid-two-third {
			width: 620px;
		}

		.grid-9 {
			width: 700px;
		}

		.grid-10 {
			width: 780px;
		}

		.grid-11 {
			width: 860px;
		}

		.grid-12,
		.grid-full {
			width: 940px;
		}

		.offset-1 {
			margin-left: 100px;
		}

		.offset-2 {
			margin-left: 180px;
		}

		.offset-3 {
			margin-left: 260px;
		}

		.offset-4 {
			margin-left: 340px;
		}

		.offset-5 {
			margin-left: 420px;
		}

		.offset-6,
		.offset-half {
			margin-left: 500px;
		}

		.offset-7 {
			margin-left: 580px;
		}

		.offset-8 {
			margin-left: 660px;
		}

		.offset-9 {
			margin-left: 740px;
		}

		.offset-10 {
			margin-left: 820px;
		}

		.offset-11 {
			margin-left: 900px;
		}
	}
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	#container {
		width: 720px;

		.grids {

			.grid-1 {
				width: 40px;
			}

			.grid-2 {
				width: 100px;
			}

			.grid-3 {
				width: 160px;
			}

			.grid-4,
			.grid-one-third {
				width: 220px;
			}

			.grid-5 {
				width: 280px;
			}

			.grid-6,
			.grid-half {
				width: 340px;
			}

			.grid-7 {
				width: 400px;
			}

			.grid-8,
			.grid-two-third {
				width: 460px;
			}

			.grid-9 {
				width: 520px;
			}

			.grid-10 {
				width: 580px;
			}

			.grid-11 {
				width: 640px;
			}

			.grid-12,
			.grid-full {
				width: 700px;
			}

			.offset-1 {
				margin-left: 80px;
			}

			.offset-2 {
				margin-left: 140px;
			}

			.offset-3 {
				margin-left: 200px;
			}

			.offset-4,
			.offset-one-third {
				margin-left: 260px;
			}

			.offset-5 {
				margin-left: 320px;
			}

			.offset-6,
			.offset-half {
				margin-left: 380px;
			}

			.offset-7 {
				margin-left: 440px;
			}

			.offset-8,
			.offset-two-third {
				margin-left: 500px;
			}

			.offset-9 {
				margin-left: 560px;
			}

			.offset-10 {
				margin-left: 620px;
			}

			.offset-11 {
				margin-left: 680px;
			}
		}
	}
}

/* Smartphones */
@media only screen and (max-width: 767px) {

	#container {
		width: 95%;

		.grids {
			margin-left: 0;

			[class*='grid-'] {
				display: block;
				width: auto;
				margin: 0 0 20px 0;
			}

			[class*='offset-'] {
				margin-left: 0;
			}
		}
	}
}