/* Responsive styles */

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* Smartphones */
@media only screen and (max-width: 767px) {
}

/* High resolution devices */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
}